# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Model files (VERY LARGE — do NOT push to GitHub)
*.bin
*.pt
*.safetensors

# HuggingFace cache
~/.cache/huggingface/
cache/
hf_cache/

# Transformer downloaded models
models/
bart-base/
flan-t5-base/

# Logs and outputs
outputs/*.json
logs/
*.log

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
